.detail-pg {
    color: white;
    width: 95%;
}

.main-time h1, h2 {
    margin: 0;
}

.region {
    font-size: 2.3rem;
}

.date {
    font-size: 1.4rem;
}

/* weekly update*/
.weeks {
    margin: 0;
    padding: 0;
    width: 100%;
}

.weeks li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.weekly-group {
    display: flex;
}

.weekly-icon
{
    color: yellow;
    padding-right: 0.5rem;
}

.weeks li {
    padding: 1rem 0 1rem 0;
}

.weeks li:nth-child(even) {
    background: #9e315d;
}

.weeks li p {
    margin: 0;
}

.day {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
