.detail-pg {
    height: 100vh;
    background: #ec4e8c;
}

.region {
    padding: 0;
    margin: 0;
    line-height: 3rem;
    font-size: 2.3rem;
}
.date {
    padding: 0;
    margin: 0;
    line-height: 2rem;
    font-size: 1.8rem;
}