.home {
    padding: 1rem;
}

.home-header {
    display: flex;
    padding: 2rem;
}
.header-logo, .header-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.search-input {
    padding: 0.6rem 0rem 0.6rem 0rem;
    outline: 0;
    border-radius: 5px;
    width: 70%;
    
}

/*styling cities*/
.cities {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
}

.card-country {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 5rem;
    border: 1px solid black;
}