.home {
    color: white;
    background: #ec4e8d;
}

.home-header {
    display: flex;
    padding: 1rem;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-logo {
    font-size: 6rem;
    width: 40%;
    color:  #9e315d;
}


.header-text p {
    margin: 0;
}

/*styling cities*/
.cities {
    width: 100%;
    margin: 0;
    padding: 0;
    background: yellow;
}

.city-list {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #c54277;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
    justify-content: center;
    margin: 0.5rem;

}

.card-country {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    width: 45%;
    height: 10rem;
    background: #ec4e8c;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

.card-country p {
    margin: 0;
}

.detail-btn {
    align-self: end;
}

.country-name {
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
}

.country-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    font-size: 1rem;
}

.flag-country {
    align-self: flex-end;
    display: inline-flex;
    height: 1.5rem;
}

.img-flag {
    height: 16px;
    width: 16px;
    display: flex;
    align-items: flex-end;
    margin-right: 0.2rem;
}

.img-flag img {
    width: 100%;
}

.country-capital {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}