@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Lato&display=swap');

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  width: 50vw;
  min-width: 500px;
  font-size: calc(10px + 2vmin);
  border: 1px solid black;
  text-align: left;
  background: #ec4e8c;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
